{% extends "layout.html" %} {% block content %}
<p>navigation</p>
<ul>
    <li class="fs-5"><a class="btn btn-link" href="http://127.0.0.1:5050/popular-anime">popular anime </a></li>
    <li class="fs-5"><a class="btn btn-link" href="http://127.0.0.1:5050/genres">catagories </a></li>
    <li class="fs-5"><a class="btn btn-link" href="http://127.0.0.1:5050/age_rating">age rating </a></li>
    <li class="fs-5"><a class="btn btn-link" href="http://127.0.0.1:5050/first_introduced">first introduced by </a></li>
    <li class="fs-5"><a class="btn btn-link" href="http://127.0.0.1:5050/season-trend">anime each season</a></li>
    <li class="fs-5"><a class="btn btn-link" href="http://127.0.0.1:5050/docs">documentation</a></li>

</ul>
<!-- <ul>
  <li><a href="https://09mals.deta.dev/popular-anime">popular anime </a></li>
  <li><a href="https://09mals.deta.dev/genres">catagories </a></li>
  <li><a href="https://09mals.deta.dev/age_rating">age rating</a></li>
  <li><a href="https://09mals.deta.dev/first_introduced">first introduced by</a></li>
  <li><a href="https://09mals.deta.dev/season-trend">anime each season</a></li>
</ul> -->
{% endblock %}
